<div class="side-bar-header">
  <div class="header-name">
   <%= link_to current_user.name, root_path %>
  </div>
  <div class="create-room">
    <%= link_to "ルームを作成する", new_room_path %>
  </div>
</div>

<div class="rooms">
<% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
        <%= link_to @name, room_messages_path(room.id) %>
      </div>
    </div>
  <% end %>
</div>