<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>
  <div class="chat">
    <%= render "main_chat" %>
      <audio autoplay src="https://res.cloudinary.com/dr47riclr/video/upload/v1629117741/music/Dm_Code2_fp8zva.mp3"></audio>
   </div>
</div>