
.title-contents {
  width: 100vw;
  height: 100vh;
  background-image: image-url('title.PNG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vh 15vw;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  background-color:#FFFFFF;
}

.btn {
  font-size: 150px;
  color: #FFEEFF
}

.service-explain {
  font-size: 4.3vh;
  line-height: 40px;
  color: #FFFFEE;
}

.code-contents{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  padding: 30px 0 30px 0 ;
  font-size: 32px ;
  font-weight: bolder ;
}

.code-lists {
  width: 100% ;
  display: flex ;
  flex-wrap: wrap ;
  justify-content: center ;
}

.code-lists>.list {
  width: 100vw / 4 ;
  height: 52vh ;
}

.code-img-content {
  position: relative;
}

.code-img {
  width: 45vh;
  height: 45vh;
}

.grad-btn::before {
  margin: 0 0 0 10px ;
  padding: 5px ;
  content: "すべて表示" ;
  border: 1px solid	#DDDDDD ;
  background-color:	#DDDDDD ;
  color: #FFFFEE ;
  font-size: 18px ;
  font-weight: bolder ;
  border-radius: 6% ;
}

.grad-item {
  overflow: hidden;
  height: 45vh;
}
.grad-item::before {
  display: flex;
  position: absolute;
  width: 100%;
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
  background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
  content: "";
}
.grad-trigger {
  display: none; 
}
.grad-trigger:checked ~ .grad-btn::before {
  content: "閉じる" ;
}
.grad-trigger:checked ~ .grad-item {
  height: auto; 
}
.grad-trigger:checked ~ .grad-item::before {
  display: none; 
}

.announces{
  display: block;
  flex-direction: column ;
}

.announces-title{
  padding: 50px 0px 30px 0 ;
  font-size: 32px ;
  font-weight: bolder ;
}

.announce-date{
  text-align: start;
  padding: 6px 3px 6px 15px;
  font-size: 20px;
}

.announce{
  text-align: start;
  padding: 6px 0 6px 15px;
  width: 26vw;
}

.movie-announce{
  padding: 50px 23vw 0 0;
  font-size: 18px;
}