* {
  box-sizing: border-box;
}

.top-page-header {
    width: 100vw;
    padding: 1vh 13vw;
    display: flex;
    flex-direction: column;
    position: relative;
  }

.search-bar-contents {
  display: flex;
  justify-content: flex-end;
  padding: 3px 48px 3px 0;
  align-items: center;
}

.logo-icon{
    width: 25vw;
    padding: 20px 50px 0 0;
    position: absolute;
}

.search-form {
  width: 20vw;
  height: 1vh;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  width: 100%;
  height: 5vh;
  border-radius: 2%;
}

.search-button {
  width: 7vh;
  border: 0;
  padding: 10px;
}

.search-icon {
  width: 100%;
}

.nav {
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
  padding: 15px 96px 0 0;
}


.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.user-name {
  text-decoration: none;
  color: #333333;
  line-height: 10px;
  margin-right: 4vw;
  font-size: 16px;
  font-weight: bold;
}

.user-name:hover{
  background-color: #110000;
  color:#FFFFFF;
  padding:5px;
}


.logout {
  text-decoration: none;
  color: #333333;
  line-height: 20px;
  margin-right: 4vw;
  font-size: 16px;
}

.logout:hover{
  background-color: #110000;
  color:#FFFFFF;
  padding:5px;
}


.login {
  text-decoration: none;
  line-height: 20px;
  margin-right: 4vw;
  color: #333333;
  font-size: 16px;
}

.login:hover{
  background-color: #110000;
  color:#FFFFFF;
  padding:5px;
}

.sign-up {
  text-decoration: none;
  line-height: 20px;
  margin-right: 1vw;
  color: #333333;
  font-size: 16px;
}

.sign-up:hover{
  background-color: #110000;
  color:#FFFFFF;
  padding:5px;
}