<%= render "shared/header" %>
<div class='main'>

  <div class='title-contents'>
    <p class="btn"><a onClick="sound()">Gm Code</a></p>

    <audio id="sound" preload="auto">
	  <source src="https://res.cloudinary.com/dr47riclr/video/upload/v1628663126/music/%E5%B0%8F%E9%87%8E%E3%81%A1%E3%82%83%E3%82%93%E5%84%AA%E3%81%97%E3%81%95_txlboe.mp3" type="audio/mp3">
    </audio>
    
      <p class='service-explain'>
        お気に入りのコーデをshareしよう!
      </p>
    </div>

  <div class='item-contents'>
    <h2 class='title'>最新のコーデ</h2>
    <ul class='item-lists'>
    </ul>
  </div>
</div>