<div class='wrapper'>
  <div class='side-bar'>
    <%= render "messages/side_bar" %>
  </div>
  <audio autoplay src="https://res.cloudinary.com/dr47riclr/video/upload/v1629873142/music/Dm_Code3_bmyizj.mp3"></audio>
</div>